<h1>Hello <%= @user.name %>,</h1>
<h1><%= @user.name %>さん、こんにちは。</h1>

<p>
このたびは「phileo」にご登録いただき、ありがとうございます。
</p>

<p>
こちらでは、沖縄で本当におすすめできる、美味しいお店をご紹介していきます。<br>
地元で人気の食堂から、観光客にも評判の名店まで、信頼できる情報だけをお届けします。
</p>

<p>
旅行やお出かけの参考に、ぜひご活用ください。
</p>

<p>
それでは、最新のおすすめ情報をどうぞ！
</p>
