有料サービスの購読

 <div class='yuuryou' 有料プランは月額と年間、いずれかの有料登録になります></div>

 <div class='getugaku'>
   <p>月額プラン400円(1ヶ月)</p>
   <%= form_with url: order_orders_path, local: true do |f| %>
     <script type="text/javascript" src="https://js.pay.jp/v2/pay.js" class="payjp-button" data-key="pk_test_bb4b5fedd69d40ae4f265794"></script>
   <% end %>
 </div>

 <div class='or'>
   <p>or</p>
 </div>
 <div class='nennkann'><p>年額プラン3600円(1年)</p>
    <%= form_with url: order_orders_path, local: true do |f| %>
      <script type="text/javascript" src="https://js.pay.jp/v2/pay.js">class="payjp-button" data-key="pk_test_bb4b5fedd69d40ae4f265794"></script>
    <% end %>
 </div>
  
<div id="number-form" class="payjs-outer"><!-- ここにカード番号入力フォームが生成されます --></div>
<div id="expiry-form" class="payjs-outer"><!-- ここに有効期限入力フォームが生成されます --></div>
<div id="cvc-form" class="payjs-outer"><!-- ここにCVC入力フォームが生成されます --></div>
<button onclick="onSubmit2(event)">トークン作成</button>
<span id="token2"></span>
<script>
var elements4 = payjp.elements()

// 入力フォームを分解して管理・配置できます
var numberElement = elements4.create('cardNumber')
var expiryElement = elements4.create('cardExpiry')
var cvcElement = elements4.create('cardCvc')
numberElement.mount('#number-form')
expiryElement.mount('#expiry-form')
cvcElement.mount('#cvc-form')

// createTokenの引数には任意のElement1つを渡します
function onSubmit2(event) {
  payjp.createToken(numberElement).then(function(r) {
    document.querySelector('#token2').innerText = r.error ? r.error.message : r.id
  })
}
</script>
