利用規約
お客さまは、TERIYAKI事務局（以下「当事務局」といいます）の提供する『TERIYAKI』 （以下「本サービス」といいます）を利用するにあたり、本利用規約の内容を承諾のうえ、利用することとします。

(1) 本サービスは、キュレーターによるグルメ情報を提供するサービスです。
(2) 本サービスのご利用には、通信料がかかります。
(3) 本サービスには有料コンテンツが含まれます。
(4) お客さまが、有料サービスのご利用を希望される場合、当事務局所定の手続に従い本サービスへの登録手続を行うものとします。当事務局は、本サービスへ登録いただいたお客さまに対して、ＩＤ及びパスワードを発行いたします。
(5) お客さまが有料サービスに登録時に当事務局に提供した情報について、お客さまが、責任を負うものとし、当該情報を他のお客さまに公開することにより発生するお客さまの損害について、当事務局は一切の責任を負いません。登録手続の際には、ご注意ください。
(6) 本利用規約の締結及び解約は、全てお客さまの保有するＩＤ及びパスワードを利用して行っていただくものとします。当事務局はお客さまの保有するＩＤ及びパスワードを利用して行われた操作を全てお客さまの意思とみなします。
(7) お客さまが未成年者である場合、親権者の同意を得た上で本サービスをご利用いただくものとします。
(8) お客さまは本サービスを利用するにあたり、以下の行為を行ってはならないものとします。

1 本利用規約に違反する行為

2 虚偽の情報において、本サービスへの登録手続を行う行為

3 他のお客さまの個人情報を不当に収集、蓄積、利用する行為

4 迷惑行為、嫌がらせ行為、誹謗中傷行為等、他のお客さまに対する精神的被害・経済的被害を与える行為

5 当事務局、当事務局がライセンスを受けているライセンサー、他のお客さまもしくはその他の第三者の知的財産権、その他の財産権もしくは人格的な権利を侵害する行為、又はこれらを侵害するおそれのある行為

6 当事務局及び第三者の権利及び利益を侵害したり又はそのおそれがあるような行為

7 法令又は条例等に違反する行為

8 公序良俗に反する行為もしくはそのおそれのある行為、又は公序良俗に反するおそれのある情報を、他のお客様もしくは第三者に提供する行為

9 犯罪行為、犯罪行為に結びつく行為もしくはこれを助長する行為、又はそのおそれがある行為

10 事実に反する情報又は事実に反するおそれのある情報を提供する行為

11 当事務局のシステムへの不正アクセス、コンピュータウィルスの頒布その他本サービスの正常な運営を妨げる行為、又はそのおそれのある行為

12 本サービスの信用を損なう行為、又はそのおそれのある行為

13 本サービスを利用した営利行為、又はその準備行為

14 当事務局のスタッフ、他のお客さま、その他本サービスに関連する人物もしくは団体等を装い、又は身分を偽る行為、又はそのおそれがある行為

15 青少年の心身及びその健全な育成に悪影響を及ぼすおそれがある行為

16 お客さま自身が、既にスポットとして登録されている場所に対して重複して登録する行為

17 その他、当事務局が不適切と判断する行為

(9)本サービスに関する著作権等を含む一切の権利は、当事務局又は当事務局に許諾を与えた第三者に帰属します。お客さまは、本サービスにより提供された情報を、当事務局に無断で転載・複製・改変・公衆送信、その他私的使用の範囲を越えて利用してはならないものとします。
(10)当事務局は、他のお客さまとの間でなされた情報の授受、その他一切の行為より他のお客さまとの間に生じた紛争、誹謗中傷、いやがらせ、詐欺、ストーカー行為等の被害を受けた場合、当該被害に基づく損害について、一切責任を負いません。
(11)当事務局は、お問い合わせ対応、その他サービス案内メールの送付等の発送、その他本サービス内で掲示する目的のため、お客さまより、住所・氏名・メールアドレス等の情報を通知いただく場合があります。当事務局は通知いただいた情報を当該目的のためにのみ利用いたします。但し､裁判所､検察庁､警察等の公的機関から開示･提供を要求された場合は､お客さまの承諾を得ずにこれに応じる場合があります｡
(12)前項に関わらず、お客さまが本利用規約に違反したと当事務局が判断した場合､お客さまにかかわる情報を当事務局において共有し､当事務局が提供する他のサービスにおいても同様の利用規約違反があったものとみなすことができるものとします｡なお、この共有が行なわれたことによりお客さまに生じた不利益について､当事務局は責めを負わないものとします。
(13)当事務局は、お客さまが本利用規約に違反した場合、お客さまに対する本サービスの提供を停止し、お客さまへの何らの通知、催告を要することなく本利用規約を解除することができるものとします。
(14)本サービスは、現状にて、完全性、正確性、有用性、信頼性等に瑕疵を含みうるものとして提供されます。当事務局は本サービスの提供及び内容について、その完全性・正確性・有用性・信頼性等に関するいかなる保証もいたしません。
(15)本サービスの提供に必要な設備の保守を定期的に又は緊急に行う場合、当該設備に障害が生じた場合、その他当事務局が必要と判断した場合、当事務局はお客さまへの予告なく、本サービスの提供を中断することができるものとします。
(16)当事務局は、本サービス及び本利用規約を予告なく改訂、追加、変更又は廃止(以下合わせて「改定等」といいます)することができるものとします。また、改定等後の本利用規約については、本サービス上で告知されるものとし、改定等後に本サービスを利用することにより改訂等後の本利用規約に同意したものといたします。なお、当事務局は、改定等によりお客さまに発生した損害について責任を負いません。
(17)お客さまは、本利用規約に係るいかなる権利又は義務も第三者に移転又は譲渡することはできません。
(18)当事務局の過失によりお客さまに損害が発生した場合であっても､当事務局に故意又は重大な過失がない限り､当事務局は､間接損害､当事務局の予見の有無を問わず特別事情により発生又は拡大した損害及び逸失利益については責任を負いません｡
(19)本利用規約の他､当事務局が定める諸規定がある場合にはそれぞれ本利用規約の一部を構成するものとします｡
(20)本利用規約は、その一部が消費者保護法令の強行規定部分又はその他の強行規定により効力を有さないと解される場合でも、これに反しない最大限の範囲で効力を有するものとします。
(21)本利用規約の解釈は日本法を準拠するものとします。本サービス又は本利用規約に関してお客さまとの間で疑義又は争いが生じた場合には、誠意をもって協議することとしますが、それでもなお解決しない場合には「那覇地方裁判所」又は「那覇簡易裁判所」を第一審の専属的合意管轄裁判所とします。
 check_box_tag :[] /利用規約を読み終え、同意なら、チェックボックスにレ点をつけたい。レ点をつけた後に、クレジット決済の画面に遷移させたい。
<%= form_with url: orders_path, method: :post, id: "card_form" do |f| %>
  <div id="kiyaku"></div>
  <%= f.submit "次へ", class:"kiyaku", id: "info_submit" %>
<% end %>
