<%= form_with  model: @order, id: 'charge-form', class: 'card-form',local: true do |f| %>
  <div class='form-wrap'>
    <%= f.text_field :price, class:"price", placeholder:"月額400円" %>
  </div>
  <%= f.submit "購入", class:"button", id: "button" %>
<% end %>