<h2>有料サービスの購読</h2>


有料プランは月額と年間、いずれかの有料登録になります
  <p>月額プラン 400円(1ヶ月)</p>
  <p> or</P>
  <p>年間プラン3600円(1年)</p>
   <%= link_to '月額プラン', cook_path(cook.id), method: :get%>
   <%= link_to '年間プラン', cook_path(cook.id), method: :get %>
 






