<% if @post.favorite?(current_user) %>
    # 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ
    <%= link_to post_favorite_path(@post.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <% end %>
<% else %>
    # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ
    <%= link_to post_favorites_path(@post.id), method: :post do %>
        <span>❤︎</span>
    <% end %>
<% end %>