有料サービスの購読


<div class='yuuryou'有料プランは月額と年間、いずれかの有料登録になります></div>

<div class='getugaku'><p>月額プラン400円(1ヶ月)</P></div>
<%= link_to '登録画面に遷移したい',    new_user_session_path%>

<div class ='or'>
<p>or</p>
</div>

<div class ='nennkann'><p>年額プラン3600円(1年)</p></div>
<%= link_to '登録画面に遷移したい',    new_user_session_path%>



    
     
    